<template>
  <div class="home">
    <h2>Stream change history</h2>
    <table class="table table-condensed table-hover">
      <thead>
        <th width="200" class="text-center">
          Change Time
          <br />(Local browser time)
        </th>
        <th class="text-center">Changes</th>
      </thead>
      <tbody>
        <tr v-for="change in list_changes" :key="change.changeuuid">
          <td class="text-center">{{ change.lastchangetime_locale }}</td>
          <td class="text-left">
            <pre>{{ change.diff }}</pre>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Stream click history</h2>A list of clicks in the last 24 hours.
    <div style="width: 90%; height: 400px;">
      <bar-chart :chart-data="datacollection" :options="options"></bar-chart>
    </div>

    <h2>Stream check history</h2>A list of checks and their results. Checks are done from different servers over time.
    <br />Streams do also send metadata which is displayed here and which may differ from the data in the radio-browser
    database.
    <table class="table table-condensed table-hover table-bordered">
      <thead>
        <th width="200" class="text-center">
          Check time
          <br />(Local browser time)
        </th>
        <th class="text-center">Check-Server</th>
        <th class="text-center">Codec</th>
        <th class="text-center">Bitrate</th>
        <th class="text-center">Name</th>
        <th class="text-center">Tags</th>
        <th class="text-center">Homepage</th>
        <th class="text-center">Description</th>
      </thead>
      <tbody>
        <tr v-for="check in list_checks" :key="check.checkuuid" ng-class="{'bg-danger': !check.ok}">
          <td class="text-center">{{ check.timestamp_locale }}</td>
          <td class="text-center">{{ check.source }}</td>
          <td class="text-center">{{ check.codec }}</td>
          <td class="text-center">{{ check.bitrate }}</td>
          <td class="text-center">{{ check.name }}</td>
          <td class="text-center">{{ check.tags }}</td>
          <td class="text-center">{{ check.homepage }}</td>
          <td class="text-center">{{ check.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import BarChart from "../components/chart_bars.js";
import { get_changes, get_checks, get_clicks } from "../radiobrowser";
export default {
  title: 'Radio Browser - Stream detail',
  name: "Detail",
  props: ["uuid"],
  components: {
    BarChart
  },
  data() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
      datacollection: {}
    };
  },

  mounted() {
    return get_clicks(this.uuid, 86400).then(data => {
      let buckets = this.clicks_to_buckets(data);
      this.fillData(buckets);
    });
  },
  methods: {
    computeDiff(before, after) {
      var keys = [
        "name",
        "url",
        "homepage",
        "favicon",
        "tags",
        "countrycode",
        "country",
        "state",
        "language"
      ];
      var diff = {};
      before = before || {};
      after = after || {};
      for (var i = 0; i < keys.length; i++) {
        var key = keys[i];
        if (before[key] !== after[key]) {
          diff[key] = "'" + before[key] + "' -> '" + after[key] + "'";
        }
      }
      return JSON.stringify(diff, null, " ");
    },
    computeDiffs(list) {
      for (var i = 0; i < list.length; i++) {
        list[i].diff = this.computeDiff(list[i - 1], list[i]);
      }
      return list;
    },
    clicks_to_buckets(list) {
      let buckets = [];
      let now_unix = Date.now() / 1000;

      for (var i = 0; i < 24; i++) {
        buckets[i] = 0;
      }
      for (var item of list) {
        var item_unix = item.clicktimestamp.getTime() / 1000;
        var bucket = Math.floor((now_unix - item_unix) / 3600);
        if (bucket < 24) {
          buckets[bucket] += 1;
        }
      }
      return buckets.reverse();
    },
    fillData(data) {
      var labels = [];
      for (var i = 23; i > 0; i--) {
        labels.push("-" + i + "h");
      }
      this.datacollection = {
        labels,
        datasets: [
          {
            label: "Clicks in the last 24 hours",
            backgroundColor: "rgba(255, 99, 132, 0.5)",
            borderColor: "rgb(255, 99, 132)",
            data
          }
        ]
      };
    }
  },

  asyncComputed: {
    list_changes: function() {
      return get_changes(this.uuid).then(res => {
        return this.computeDiffs(res);
      });
    },
    list_checks: function() {
      return get_checks(this.uuid).then(res => {
        return res.reverse();
      });
    }
  }
};
</script>
