<template>
  <div class="home">
    <StreamList :search="search" />
  </div>
</template>

<script>
// @ is an alias to /src
import StreamList from "@/components/StreamList.vue";

export default {
  title: "Radio Browser - Home",
  name: "Home",
  props: ["search"],
  components: {
    StreamList
  }
};
</script>
