<template>
  <div>
    <grid
      :sort="sort"
      :pagination="pagination"
      :cols="cols"
      :rows="stationList"
    ></grid>
  </div>
</template>

<script>
import { Grid } from "gridjs-vue";
import { h } from "gridjs";

import countries from "world-countries";
import { play } from "../player";

import { rb_rq, rb_click } from "../radiobrowser";

export default {
  name: "StreamList",
  components: {
    Grid
  },
  asyncComputed: {
    stationList: function() {
      let d = {
        name: this.search,
        limit: 100,
        order: "clickcount",
        reverse: true
      };
      return rb_rq("POST", "json/stations/search", d)
        .then(response => {
          return response.map(col => [
            col.favicon,
            col.name,
            col.codec,
            col.countrycode,
            col.state,
            col.tags,
            col.clickcount,
            col.stationuuid
          ]);
        })
        .catch(function(error) {
          console.log(error);
          return [];
        });
    }
  },
  props: ["search"],
  methods: {
    getflag(countrycode) {
      for (let country of countries) {
        if (countrycode.toUpperCase() === country.cca2.toUpperCase()) {
          return country.flag;
        }
      }
      return "🌎";
    }
  },
  data() {
    return {
      player: null,
      cols: [
        {
          name: "Icon",
          formatter: (_, row) =>
            h(
              "img",
              {
                className: "icon",
                src: row.cells[0].data
              },
              ""
            )
        },
        "Name",
        "Codec",
        {
          name: "Country",
          formatter: (_, row) => {
            return h(
              "div",
              {
                className: "flag"
              },
              this.getflag(row.cells[3].data)
            );
          }
        },
        "State",
        "Tags",
        "Clickcount",
        {
          name: "Action",
          formatter: (_, row) => {
            return h("div", {}, [
              h(
                "button",
                {
                  className: "",
                  onClick: () => {
                    rb_click(row.cells[7].data).then(res => {
                      play(res.url);
                    });
                  }
                },
                "Play"
              ),
              h(
                "button",
                {
                  className: "",
                  onClick: () => {
                    this.$router.push({
                      name: "Detail",
                      params: { uuid: row.cells[7].data }
                    });
                  }
                },
                "Detail"
              )
            ]);
          }
        }
      ],
      sort: true,
      pagination: {
        enabled: true,
        limit: 12,
        summary: true
      }
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.icon {
  height: 30px;
  width: 30px;
}
.flag {
  font-size: 35px;
}
</style>
